<section class="container">
  <div class="row">
    <div role="thumbnail" class="col-md-4"></div>
    <div role="thumbnail" class="col-md-4">two</div>
    <div role="thumbnail" class="col-md-4">three</div>
  </div>
</section>