<a id="top"></a>
<div class="col-md-4">
<table class="table" ng-repeat="article in articles">
        <thead>
        <tr>
            <th><a href="#" ng-Click="getArticle(article.id); ">{{ article.title }}</a><br>
                <small>Created on: {{ article.created_at | date }}</small>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ article.description }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-8 col-md-offset-4" style="position:fixed">{{ articleText }}</div>
