<nav class="navbar navbar-dark bg-inverse">
  <ul class="nav navbar-nav">
    <li class="nav-item"><%= link_to '', articles_path, class: 'nav-link fa fa-home fa-2x' %></li>
    <li class="nav-item">

      <%= link_to "Articles", articles_path, class: 'nav-link'%>
    </li>

    <li class="nav-item">
      <a class="nav-link" ui-sref="portfolio">Portfolio</a>
    </li>

    <li class="nav-item"><%= link_to "New Article", new_article_path, class: 'nav-link' %></li>

  </ul>
</nav>
