<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>BlogU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>
<body ng-app="myApp">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/navbar' %>
      </div>
    </div>
  </div>

    <div ui-view class="slide-animation"></div>

</body>
</html>
